* {
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(29, 172, 181);
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 7px; 
    padding-top: 20px;
}

.subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

.conteudo {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    letter-spacing: 1.3px;
    color: #ffffff;
    font-size: large;
}

p {
    margin-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
