/* Adicione esses estilos ao seu arquivo Clima.css */

/* Estilo para o container principal */
.container-fluid {
    background-image: url("/img/oceanoclima.jpg");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para o card */
  .card {
    background-color: #fff; /* Cor de fundo do card */
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: all 0.3s ease; /* Transição */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Efeito de levitar ao passar o mouse */
  }
  
  /* Estilo para o header do card */
  .card-header {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #eee; /* Linha separadora */
  }
  
  /* Estilo para o input */
  .form-control {
    border: none; /* Removendo a borda padrão */
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: all 0.3s ease; /* Transição */
  }
  
  .form-control:focus {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Sombra ao focar */
  }
  
  /* Estilo para o botão */
  .btn {
    border-radius: 20px;
    transition: all 0.3s ease; /* Transição */
  }
  
  .btn:hover {
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    font-family: 'Arvo', serif;
    
}

.city{
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp{
    display: flex;
    justify-content: center;
    background-color: rgba(244, 208, 63, 0.2);
    box-shadow: 5px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;

    font-size: 100px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather{
    font-size: 32px;
}

.low-high {
    font-size: 22px;
}

header {
    background-image: url("../img/oceanoclima.jpg");
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    
    

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}