body {
    font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1b657c;
    position: relative;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.image .fundo-da-pagina {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.logo img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: #ffffff;
    font-size: 24px;
}

main {
    padding: 20px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.intro .section {
    width: 60%;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.intro .solution img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.intro .solution .label {
    margin-top: 10px;
    font-size: 24px;
    color: #000;
    text-align: center;
}

.content .card {
    display: flex;
    background-color: #1b657c;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.content .card img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.content .card .text {
    padding: 20px;
    color: #ffffff;
    width: 50%;
}

.content .card .text h2 {
    font-size: 24px;
    margin: 0 0 10px;
}

.content .card .text p {
    font-size: 16px;
    margin: 0 0 10px;
}

.content .card .text strong {
    font-weight: bold;
}
